@import url("https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap");
      body {
        margin: 0;
      }
      .loader {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Lobster", sans-serif;
        font-size: 30px;
        animation: loading 1s ease-in-out infinite;
        animation-direction: alternate;
      }
      .span {
        position: absolute;
        height: 150px;
        left: 50%;
        transform: translate(-50%);
        top: 0;
        transform-origin: bottom;
      }
      .span::before {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        border: 0px solid;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        animation: animate 2s ease-in-out infinite;
      }

      header {
        position: fixed;
        width: 100%;
        top: 0;
        text-align: center;
        color: #4dffb8;
        font-family: "Pacifico", sans-serif;
      }
      .span:nth-child(1):before {
        animation-delay: 0.1s;
      }
      .span:nth-child(2):before {
        animation-delay: 0.2s;
      }
      .span:nth-child(3):before {
        animation-delay: 0.3s;
      }
      .span:nth-child(4):before {
        animation-delay: 0.4s;
      }
      .span:nth-child(5):before {
        animation-delay: 0.5s;
      }
      .span:nth-child(6):before {
        animation-delay: 0.6s;
      }
      .span:nth-child(7):before {
        animation-delay: 0.7s;
      }
      .span:nth-child(8):before {
        animation-delay: 0.8s;
      }
      .span:nth-child(9):before {
        animation-delay: 0.9s;
      }
      .span:nth-child(10):before {
        animation-delay: 1s;
      }
      .span:nth-child(11):before {
        animation-delay: 1.1s;
      }
      .span:nth-child(12):before {
        animation-delay: 1.2s;
      }
      .span:nth-child(13):before {
        animation-delay: 1.3s;
      }
      .span:nth-child(14):before {
        animation-delay: 1.4s;
      }
      .span:nth-child(15):before {
        animation-delay: 1.5s;
      }
      .span:nth-child(16):before {
        animation-delay: 1.6s;
      }
      .span:nth-child(17):before {
        animation-delay: 1.7s;
      }
      .span:nth-child(18):before {
        animation-delay: 1.8s;
      }
      .span:nth-child(19):before {
        animation-delay: 1.9s;
      }
      .span:nth-child(20):before {
        animation-delay: 2s;
      }

      @keyframes loading {
        0% {
          color: hsl(0, 50%, 50%);
          opacity: 1;
        }
        50% {
          color: hsl(160, 50%, 50%);
        }
        100% {
          color: hsl(360, 50%, 50%);
          opacity: 0;
        }
      }

      @keyframes animate {
        0% {
          transform: translateX(-50%) scale(1);
          opacity: 1;
          height: 0px;
          width: 0px;
          border-width: 10px;
        }
        50% {
          transform: translateX(-50%) scale(2);
          opacity: 1;
          width: 20px;
          height: 20px;
          border-width: 2px;
        }
        100% {
          transform: translateX(-50%) scale(2);
          opacity: 0;
          width: 20px;
          height: 20px;
          border-width: 0px;
        }
      }